In [1]:
%load_ext autoreload
%autoreload 2

import functions as fc
from datetime import datetime

In [2]:
start = datetime(2019,1,1)
end = datetime(2019,3,31)
ticker = 'GOOG'

df = fc.prices(ticker, start, end)

In [3]:
df_searches = fc.searches('GOOG')

In [4]:
df_searches.head(50)

            GOOG
date
2014-04-06   100
2014-04-13    98
2014-04-20    99
2014-04-27    98
2014-05-04    97
2014-05-11    97
2014-05-18    99
2014-05-25    96
2014-06-01    94
2014-06-08    91
2014-06-15    92
2014-06-22    87
2014-06-29    85
2014-07-06    86
2014-07-13    86
2014-07-20    86
2014-07-27    84
2014-08-03    84
2014-08-10    86
2014-08-17    79
2014-08-24    73
2014-08-31    74
2014-09-07    75
2014-09-14    73
2014-09-21    74
2014-09-28    71
2014-10-05    72
2014-10-12    75
2014-10-19    72
2014-10-26    71
2014-11-02    72
2014-11-09    70
2014-11-16    73
2014-11-23    68
2014-11-30    72
2014-12-07    74
2014-12-14    72
2014-12-21    71
2014-12-28    69
2015-01-04    70
2015-01-11    71
2015-01-18    72
2015-01-25    72
2015-02-01    68
2015-02-08    69
2015-02-15    68
2015-02-22    70
2015-03-01    72
2015-03-08    69
2015-03-15    69

In [5]:
fc.combine_data_frames(df,df_searches)

               open     high      low    close     volume   GOOG
date
2014-04-06      NaN      NaN      NaN      NaN        NaN  100.0
2014-04-13      NaN      NaN      NaN      NaN        NaN   98.0
2014-04-20      NaN      NaN      NaN      NaN        NaN   99.0
2014-04-27      NaN      NaN      NaN      NaN        NaN   98.0
2014-05-04      NaN      NaN      NaN      NaN        NaN   97.0
2014-05-11      NaN      NaN      NaN      NaN        NaN   97.0
2014-05-18      NaN      NaN      NaN      NaN        NaN   99.0
2014-05-25      NaN      NaN      NaN      NaN        NaN   96.0
2014-06-01      NaN      NaN      NaN      NaN        NaN   94.0
2014-06-08      NaN      NaN      NaN      NaN        NaN   91.0
2014-06-15      NaN      NaN      NaN      NaN        NaN   92.0
2014-06-22      NaN      NaN      NaN      NaN        NaN   87.0
2014-06-29      NaN      NaN      NaN      NaN        NaN   85.0
2014-07-06      NaN      NaN      NaN      NaN        NaN   86.0
2014-07-13      NaN      NaN      NaN      NaN        NaN   86.0
2014-07-20      NaN      NaN      NaN      NaN        NaN   86.0
2014-07-27      NaN      NaN      NaN      NaN        NaN   84.0
2014-08-03      NaN      NaN      NaN      NaN        NaN   84.0
2014-08-10      NaN      NaN      NaN      NaN        NaN   86.0
2014-08-17      NaN      NaN      NaN      NaN        NaN   79.0
2014-08-24      NaN      NaN      NaN      NaN        NaN   73.0
2014-08-31      NaN      NaN      NaN      NaN        NaN   74.0
2014-09-07      NaN      NaN      NaN      NaN        NaN   75.0
2014-09-14      NaN      NaN      NaN      NaN        NaN   73.0
2014-09-21      NaN      NaN      NaN      NaN        NaN   74.0
2014-09-28      NaN      NaN      NaN      NaN        NaN   71.0
2014-10-05      NaN      NaN      NaN      NaN        NaN   72.0
2014-10-12      NaN      NaN      NaN      NaN        NaN   75.0
2014-10-19      NaN      NaN      NaN      NaN        NaN   72.0
2014-10-26      NaN      NaN      NaN      NaN        NaN   71.0
...             ...      ...      ...      ...        ...    ...
2019-02-24      NaN      NaN      NaN      NaN        NaN   29.0
2019-02-25  1116.00  1118.54  1107.27  1109.40  1413061.0    NaN
2019-02-26  1105.75  1119.51  1099.92  1115.13  1471743.0    NaN
2019-02-27  1106.95  1117.98  1101.00  1116.05   968760.0    NaN
2019-02-28  1111.30  1127.65  1111.01  1119.92  1542609.0    NaN
2019-03-01  1124.90  1142.97  1124.75  1140.99  1450316.0    NaN
2019-03-03      NaN      NaN      NaN      NaN        NaN   29.0
2019-03-04  1146.99  1158.28  1130.69  1147.80  1446047.0    NaN
2019-03-05  1150.06  1169.61  1146.19  1162.03  1443174.0    NaN
2019-03-06  1162.49  1167.57  1155.49  1157.86  1099289.0    NaN
2019-03-07  1155.72  1156.76  1134.91  1143.30  1166559.0    NaN
2019-03-08  1126.73  1147.08  1123.30  1142.32  1212489.0    NaN
2019-03-10      NaN      NaN      NaN      NaN        NaN   29.0
2019-03-11  1144.45  1176.19  1144.45  1175.76  1719192.0    NaN
2019-03-12  1178.26  1200.00  1178.26  1193.20  2013115.0    NaN
2019-03-13  1200.64  1200.93  1191.94  1193.32  1435936.0    NaN
2019-03-14  1194.51  1197.88  1184.48  1185.55  1172815.0    NaN
2019-03-15  1193.38  1196.57  1182.61  1184.46  2459957.0    NaN
2019-03-17      NaN      NaN      NaN      NaN        NaN   30.0
2019-03-18  1183.30  1190.00  1177.42  1184.26  1292633.0    NaN
2019-03-19  1188.81  1200.00  1185.87  1198.85  1520688.0    NaN
2019-03-20  1197.35  1227.14  1196.17  1223.97  2227786.0    NaN
2019-03-21  1216.00  1231.79  1213.15  1231.54  1204045.0    NaN
2019-03-22  1226.32  1230.00  1202.83  1205.50  1714247.0    NaN
2019-03-24      NaN      NaN      NaN      NaN        NaN   29.0
2019-03-25  1196.93  1206.40  1187.04  1193.00  1496843.0    NaN
2019-03-26  1198.53  1202.83  1176.72  1184.62  1901156.0    NaN
2019-03-27  1185.50  1187.56  1159.37  1173.02  1400240.0    NaN
2019-03-28  1171.54  1171.57  1159.43  1168.49  1012430.0    NaN
2019-03-29  1174.90  1178.99  1162.88  1173.31  1269979.0    NaN

[321 rows x 6 columns]